.header {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border-bottom: 1px solid #edeff2;
    margin-bottom: 32px;
}

.header h1 {
    font-weight: 600;
    color: #006A6A;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.registerBox {
    margin: 0 auto;
    max-width: 500px;
}

.registerBox h1 {
    font-weight: 600;
    color: #006A6A;
    font-size: 24px;
    margin-bottom: 16px;
}

.registerBox form .formGroup {
    margin-bottom: 16px;
}

.registerBox form .formGroup div input{
    display: inline-block;
    width: initial;
    margin-left: 8px;
}

.loginError {
    color: rgb(209, 13, 13);
}

.registerBox form select {
    margin-bottom: 16px;
}

.registerBox form input,
.registerBox form select {
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 4px;
    display: block;
    width: 100%;
    font-weight: 400;
    border: 1px solid #dcdfe3;
    color: #495057;
}

.registerBox form button {
    cursor: pointer;
    background-color: #006A6A;
    border-color: #3d83df;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: .534rem .8rem;
    border-radius: 4px;
    border: .06667rem solid rgba(0,0,0,0);
    font-weight: 600;
    font-size: 16px;
}

.registerBox .forgetPassword {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    font-weight: 400;
    color: #006A6A;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #edeff2;
}

.registerBox .createAccountLogin {
    text-align: center;
}

.registerBox .createAccountLogin span {
    color: #627282;
    font-size: 14px;
}

.registerBox .createAccountLogin a {
    color: #006A6A;
    font-size: 14px;
    
}



@media (max-width: 600px) {
    .container {
        padding-left: 8px;
        padding-right: 8px;
    }
}