.profile {
    width: 100%;
}

.profile > header {
    max-width: 1000px;
    margin: 60px auto 0;
    padding-left: 24px;
    padding-right: 24px;
}

.profileContainer {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    gap: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

.main {
    flex: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar button {
    border: 0;
    padding: 12px;
    border-radius: 2px;
    min-width: 200px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #C4C4CC;
    border-bottom: none;
    cursor: pointer;
    background-color: #fff;
}

.sidebar button + button {
    border: 1px solid #d6d6d6;
}


.sidebar button.active {
    background-color: #E1E1E6;
}

.main {
    border: 1px solid #C4C4CC;
}

.main header {
    font-size: 20px;
    border-bottom: 1px solid #E1E1E6;
    padding: 16px 32px;
}

.profileImage {
    padding: 24px 32px;
    display: grid;
    grid-template-columns: 160px 1fr;
    border-bottom: 1px solid #E1E1E6;
    align-items: flex-start;
}

.profileImage span {
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: #7C7C8A;
}

.profileImage img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.imageContent {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 400px;
}


.imageContent div {
    display: flex;
    gap: 16px;
}

.imageContent div button {
    border: 0;
    padding: 12px 24px;
    border-radius: 24px;
    font-weight: bold;
    cursor: pointer;
}

.username {
    padding: 24px 32px;
    border-bottom: 1px solid #E1E1E6;
    display: grid;
    grid-template-columns: 160px 1fr;

}

.username span {
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: #7C7C8A;
}

.username > div {
    max-width: 400px;
 
}

.username div input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    border: 1px solid #E1E1E6;
    color: #000;
    font-weight: bold;
}

.userInfo {
    padding: 24px 32px;
    border-bottom: 1px solid #E1E1E6;
}

.userInfo div {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 8px;
    margin-bottom: 12px;
}

.userInfo div label {
    font-weight: bold;
    font-size: 14px;
    color: #7C7C8A;
}

.userInfo div input {
    max-width: 400px;
    padding: 12px;
    border-radius: 6px;
    border: none;
    border: 1px solid #E1E1E6;
    color: #000;
    font-weight: bold;
}

.uploadPicture {
    max-width: 400px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    border: 1px solid #E1E1E6;
    color: #000;
    font-weight: bold;
}

.userInfo div textarea {
    resize: none;
    max-width: 400px;
    padding: 12px;
    border-radius: 6px;
    border: none;
    border: 1px solid #E1E1E6;
    color: #000;
    font-weight: bold;
}

.userInfo div section {
    display: flex;
    flex-direction: column;
}

.userInfo div section input + input {
    margin-top: 8px;
}

.userInfo div span {
    font-weight: bold;
    font-size: 14px;
    color: #7C7C8A;
}

.userInfo div button {
    max-width: max-content;
    border: 0;
    padding: 12px 24px;
    border-radius: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: #121214;
    color: #fff;
}

.updatePictureForm button {
    max-width: max-content;
    border: 0;
    padding: 12px 24px;
    border-radius: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: #121214;
    color: #fff;
    margin-left: 12px;
}

.userInfo div button:hover {
    background-color: #29292E;
    transition: .2s;
}


.appointment-container {
    width: 100%;
    overflow-x: auto; /* Permite a rolagem horizontal */
    margin-bottom: 20px; /* Mantém o espaçamento inferior */
}

.appointment {
    width: 100%;
    margin-bottom: 20px;
}

.appointment h3 {
    text-align: left;
    margin-left: 5%;
    font-size: 18px;
    color: #006A6A;
    margin-bottom: 3%;
    margin-top: 3%;
}

.appointment table {
    width: 90%;
    
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.appointment th,
.appointment td {
    padding: 10px;
    border: 1px solid #ddd;
}

.appointment th {
    background-color: #006A6A;
    color: white;
    font-weight: bold;
}

.appointment tr:nth-child(even) {
    background-color: #f9f9f9;
}

.appointment tr:nth-child(odd) {
    background-color: #f0eeee;
}

.appointment tr:hover {
    background-color: #f1f1f1;
}

.appointment td {
    color: #555;
}

.appointment td:first-child {
    font-weight: bold;
    color: #333;
}


@media (max-width: 768px) {
    .profile > header {
        margin-top: 40px;
    }
    .profileContainer {
        flex-direction: column;
    }
    .profileImage {
        grid-template-columns: 1fr;
    }
    .profileImage span {
        margin-bottom: 16px;
    }
    .imageContent {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    .username {
        grid-template-columns: 1fr;
    }
    .username span {
        margin-bottom: 16px;
    }
    .userInfo div {
        grid-template-columns: 1fr;
        margin-bottom: 16px;
    }
    .userInfo div label {
        margin-bottom: 4px;
    }

    .userInfo div span {
        margin-bottom: 8px;
    }

    .userInfo div button[type="submit"] {
        width: 100%;
        max-width: 100%;
    }
}


