.formContainer {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.centralized {
    max-width: 1000px;
    margin: 0 auto;
}

.formContainer form {
    display: flex;
    max-width: 400px; 
    width: 100%; 
}

.inputWrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.searchSelect {
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 4px;
    display: block;
    width: 100%;
    font-weight: 400;
    border: 1px solid #dcdfe3;
    color: #495057;
}

.inputWrapper input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #006A6A;
}

.inputWrapper .icon {
    position: absolute;
    left: 10px;
    pointer-events: none;
}

.inputWrapper button {
    margin-left: 16px;
    height: 32px;
    border: none;
    font-weight: 500;
    background-color: #006A6A;
    color: white;
    padding: 0 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: .2s;
}

.inputWrapper button:hover {
    background-color: #025353;
}

.resultsList {
    margin-top: 32px;

}

.resultsList h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}

.doctorBox {
    background-color: #e0e0e0;
    border-radius: 8px;
    max-width: 900px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 16px;
    padding-top: 12px;
    padding-right: 24px;
    justify-content: space-between;
}

.doctorContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px 12px 24px;
}
.cardHeader span {
    font-weight: 400;
    margin-left: 4px;
    color: #1b2734;
}

.feedbacksLink {
    text-decoration: underline;
    cursor: pointer;
    color: #006A6A;
    font-weight: 500;
}

.doctorInfo {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.doctorInfo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.doctorInfo p {
    font-size: 16px;
    max-width: 35ch;
    line-height: 1.5;
    font-size: 400;
    color: #1b2734;
}

.doctorInfo span {
    font-size: 14px;
    font-weight: 500;
}

.doctorAddress button {
    padding: 8px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #006A6A;
    font-weight: 500;
}

.doctorAddress button:hover {
    color: #025353;
}

.doctorAddress button.active {
    border-bottom: 2px solid #006A6A;
    color: #025353;
}

.doctorAddress button + button{
    margin-left: 8px;
}

.doctorAddress span {
    font-size: 14px;
}

.addressText {
    display: flex;
    align-items: center;
    gap: 8px;
}

.appointmentForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

}

.appointmentForm label {
    font-size: 14px;
} 

.appointmentForm input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    border: 1px solid #E1E1E6;
    color: #000;
    font-weight: bold;
    margin-bottom: 12px;
}

.appointmentForm button{
    background-color: #006A6A;
    padding: 12px 24px;
    border-radius: 8px;
    text-align: center;
    margin-right: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: .2s;
    border: 0;
    cursor: pointer;
    max-width: fit-content;
}

.location {
    margin-bottom: 12px;
}

.location label{
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 8px;
}

.location label input {
    width: initial;
    margin-bottom: 0;
}

.appointmentForm button:hover {
    background-color: #025353;

}

@media (max-width: 900px) {
    .formContainer {
        padding-left: 24px;
        padding-right: 24px;
    }
    .doctorBox {
        flex-direction: column;
        width: fit-content;
        margin-bottom: 24px;
    }

    .appointmentForm  {
        margin: 12px 0px 12px 12px;
    }
    .doctorInfo {
        flex-direction: column;
    }

    .doctorInfo p {
        font-size: 14px;
    }

    .doctorContent {
        margin-bottom: 16px;
        padding: 12px 12px 0 12px;
        gap: 8px;
    }
    

}